/*=======================================================
    Colors
========================================================*/

@gray:                  #000;
@gray--20:              lighten(@gray, 20%); // text
@gray--93:              lighten(@gray, 93%); // background

@white:                 #fff;
@navy:                  #81b3d2;
@brown:                 #766357;


/*=======================================================
    Scaffolding
========================================================*/

@body-bg:               #fff;
@text-color:            @gray;
@text-color--gray:      @gray--20;
@text-color--white:     @white;

@link-color:            @gray;
@link-color--hover:     @navy;
@link-color--active:    fade(@gray, 30%);

@html-size-base:        10px;

/*=======================================================
    Typography
========================================================*/

@font-family:           "PTSans-Regular", Arial, sans-serif;
@font-family--bold:     "PTSans-Bold", Arial, sans-serif;

@font-size:             1.4rem;
@font-size--h1:         3rem;
@font-size--h2:         2.1rem;
@font-size--h3:         1.8rem;
@font-size--h4:         @font-size;

@line-height:           1.5;
@line-height--computed: ceil((@font-size * @line-height));
@line-height--40:       4rem;
@line-height--26:       2.6rem;
@line-height--24:       2.4rem;
@line-height--21:       2.1rem;
@line-height--18:       1.8rem;

@font-weight:        400;
@font-weight--bold:  700;

/*=======================================================
    Buttons
========================================================*/

@btn-nav-hvr: darken(desaturate(@navy, 5%), 8%);
@btn-nav-act: spin(desaturate(darken(@navy, 12%), 3%), -1);
@btn-nav-test: spin(desaturate(lighten(#ff005d, 11%), 81%), -231); // desire: #90ae89 - result: #91ae89
@btn-nav-test2: spin(saturate(lighten(@brown, 10%), 20%), 89); // desire: #5fac53 - result: #5fad53

/*=======================================================
    Forms
========================================================*/



/*=======================================================
    Media queries breakpoints
========================================================*/

@screen-xs-min:         320px; // mobile
@screen-sm-min:         768px; // tablet
@screen-lg-min:         1280px; // wide desktop

@screen-xs-max:         (@screen-sm-min - 1);
@screen-sm-max:         (@screen-lg-min - 1);

/*=======================================================
    Container sizes
========================================================*/



